#memoria{
    width:250px;
    border:2px solid black;
    margin-top:20px;
}

.bloque{
    border-bottom:1px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-weight:bold;
}

.libre{
    background:#c8f7c5;
}

.ocupada{
    background:#ffb3b3;
}